<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503649949088-tcp06q2oeatq5tki5k6np4t3na9trl52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503649949088-tcp06q2oeatq5tki5k6np4t3na9trl52</string>
	<key>API_KEY</key>
	<string>AIzaSyAUes65mYGR3JA1TITQEUDGR2Q0MWjWmxw</string>
	<key>GCM_SENDER_ID</key>
	<string>503649949088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduhomeProject</string>
	<key>PROJECT_ID</key>
	<string>eduhome-ec721</string>
	<key>STORAGE_BUCKET</key>
	<string>eduhome-ec721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503649949088:ios:572df990cb13814627c0c5</string>
</dict>
</plist>